doctype html
html
    head
        title Admin Portal
    body
        h1 Welcome to the Admin Portal
        p Hello, #{username}! Here are some options for you:
        ul
            li
                form(action="/admin/books", method="get")
                    button(type="submit") Manage book catalogue 
            li
                form(action="/admin/requests", method="get")
                    button(type="submit") Manage book requests
            li
                form(action="/admin/acess", method="get")
                    button(type="submit") Review admin access requests 
            li
                form(action="/user/", method="get")
                    button(type="submit") Go back to home
            li
                form(action="/login/logout", method="post")
                    button(type="submit") Logout
        p= locals.message ? message : ''