doctype html
html
    head
        title Library Management System
    body
        h1 Welcome to the Library Management System
        p Please select an option:
        ul
            li
                a(href="/login") Login
            li
                a(href="/register") Register