doctype html
html
    head
        title Welcome to the Library Management Portal
    body
        h1 Welcome to the Library Management Portal
        p Hello, #{username}! Here are some options for you:
        ul
            li
                a(href="/user/browse") Browse Books
            li
                a(href="/my-books") My Books and history
            li
                a(href="/register/update_password") Update password
            li
                form(action="/login/logout", method="post")
                    button(type="submit") Logout
